*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dis-primary-color: #aqua
}

section{
    padding: 1rem;
}

.container{
    width: 80%;
    margin: auto;
}

.d-flex{
    display: flex
}

.w-40{
width: 40%;
}

.w-60{
    width: 60%;
}

header{
    background-color: aqua;
    padding: 1rem 0;
    display: flex;

    .logo,
    .actions{
        flex-grow: 1;
    }

    .actions{
        text-align: end;
    }

    .menu{
        flex-grow: 2;
        text-align: center;
    }
}

.debug{
    *{
        border: 1px solid;
    }

    .container{
        background-color: orange;
    }

    .jumbotron{
        height: 400px;

        .content{
            height: 100%;
            background-color: orange;        
        }
    }

    .w40,
.w60{
    height: 300px;
    background-color: blue;
}
}

.jumbotron{
    background-color: red;
    padding: 1rem;

    .content{
        width: 70%;
        margin: auto;
    }
}

