*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dis-primary-color: #aqua
}

section{
    padding: 1rem;
}

.container{
    width: 80%;
    margin: auto;
}

.d-flex{
    display: flex
}

.w-40{
width: 40%;
}

.w-60{
    width: 60%;
}

header{
    background-color: aqua;
    padding: 1rem 0;
    display: flex;

    .logo,
    .actions{
        flex-grow: 1;
    }

    .actions{
        text-align: end;
        
    }
}